
.end {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    h1 {
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    h2 {
        font-family: 'Yesteryear', cursive;
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    .text_1 {
        position: absolute;
        top: 30%;
        font-size: 2em;
        left: 45%;
    }

    .weapon {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 35%;
        padding-bottom: 35%;
        opacity: 0;

        &.hammer {
            background: url('../../assets/cursor-hammer-tap.png') top left no-repeat;                
            background-size: 100%;
        }

        &.spoon {
            background: url('../../assets/cursor-spoon-tap.png') top left no-repeat;                
            background-size: 100%;
        }

        &.cottoncandy {
            background: url('../../assets/cursor-candy-tap.png') top left no-repeat;                
            background-size: 100%;
        }
    }

    .face {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        padding-bottom: 35%;
        opacity: 0;

        &.Troy {
            background: url('../../assets/heads/troy.png') top left no-repeat;                
            background-size: 100%;
        }
        &.Alison {
            background: url('../../assets/heads/alison.png') top left no-repeat;
            background-size: 100%;
        }
        &.Junior {
            background: url('../../assets/heads/junior.png') top left no-repeat;
            background-size: 100%;
        }
        &.Sombra {
            background: url('../../assets/heads/sombra.png') top left no-repeat;
            background-size: 100%;
        }
        &.Yusaku {
            background: url('../../assets/heads/yusaku.png') top left no-repeat;
            background-size: 100%;
        }
        &.Kit {
            background: url('../../assets/heads/kit.png') top left no-repeat;
            background-size: 100%;
        }
        &.Sean {
            background: url('../../assets/heads/sean.png') top left no-repeat;
            background-size: 100%;
        }
        &.Akiko {
            background: url('../../assets/heads/akiko.png') top left no-repeat;
            background-size: 100%;
        }
        &.Michael {
            background: url('../../assets/heads/michael.png') top left no-repeat;
            background-size: 100%;
        }
        &.Kelvin {
            background: url('../../assets/heads/kelvin.png') top left no-repeat;
            background-size: 100%;
        }
        &.Pete {
            background: url('../../assets/heads/pete.png') top left no-repeat;
            background-size: 100%;
        }
        &.Tyler {
            background: url('../../assets/heads/tyler.png') top left no-repeat;
            background-size: 100%;
        }
        &.Noelle {
            background: url('../../assets/heads/noelle.png') top left no-repeat;
            background-size: 100%;
        }
        &.Kristina {
            background: url('../../assets/heads/kristina.png') top left no-repeat;
            background-size: 100%;
        }
        &.Kayla {
            background: url('../../assets/heads/kayla.png') top left no-repeat;
            background-size: 100%;
        }
        &.James {
            background: url('../../assets/heads/james.png') top left no-repeat;
            background-size: 100%;
        }
        &.Vinny {
            background: url('../../assets/heads/vinny.png') top left no-repeat;
            background-size: 100%;
        }
    }

    .circles {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        & > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #1b1b1b;
            border-radius: 100%;
            box-shadow: 0 0 100px rgba(255,255,255,.8);
        }

        .circle_1 {
            width: 110%;
            padding-bottom: 110%;
        }

        .circle_2 {
            width: 90%;
            padding-bottom: 90%;
        }

        .circle_3 {
            width: 70%;
            padding-bottom: 70%;
        }

        .circle_4 {
            width: 50%;
            padding-bottom: 50%;
        }

        .circle_5 {
            width: 30%;
            padding-bottom: 30%;
        }

    }

    .text_2 {
        position: absolute;
        top: 8%;
        font-size: 4em;
        width: 100%;
        text-align: center;
        font-family: 'Yesteryear', cursive;
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    .text_3 {
        position: absolute;
        top: 18%;
        font-size: 3em;
        width: 100%;
        text-align: center;
        font-family: 'Yesteryear', cursive;
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    .text_4 {
        position: absolute;
        top: 40%;
        font-size: 10em;
        width: 40%;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    .text_5 {
        position: absolute;
        top: 40%;
        font-size: 5em;
        width: 40%;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 0 #000;
        left: auto;
        right: 0;
    }

    .text_6 {
        position: absolute;
        top: 77%;
        font-size: 5em;
        width: 100%;
        text-align: center;
        font-family: 'Yesteryear', cursive;
        color: white;
        text-shadow: 5px 5px 0 #000;
    }

    .text_7 {
        position: absolute;
        top: 10%;
        font-size: 10em;
        width: 100%;
        text-align: center;
        font-family: 'Yesteryear', cursive;
        color: white;
        text-shadow: 5px 5px 0 #000;
        opacity: 0;
    }

    .text_8 {
        position: absolute;
        top: 76%;
        font-size: 10em;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 5px 5px 0 #000;
        opacity: 0;
    }

    .black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        opacity: 0;
    }

    .mg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mg {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-30%);

        width: 30%;
        padding-bottom: 30%;
        // height: 0;
        background: url('../../assets/mg.png') top left no-repeat;
        background-position: 0 0;
        background-size: 100%;
        transform-origin: 50% 20%;

        animation: mg-wiggle 1.3s ease-in-out infinite;
        

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }
}

@keyframes mg-wiggle {
    0%, 100% {transform: translate(-50%,-30%) rotate(0deg);}
    50% {transform: translate(-50%,-30%) rotate(-30deg);}
}