
.game {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    

    .flash {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        pointer-events: none;
        opacity: 0;

        &.play {
            animation: flash .2s;
        }
    }

    .egg-container {
        // display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        
        .egg-wrapper {
            
            position: relative;
            left: 50%;
            top: 50%;
            width: min(50vw, 540px);
            height: min(50vw, 540px);
            transform: translate(-50%,-50%);

           

            &.idle {
                animation: idle-egg 1s steps(1) infinite;    
            }

            &.wiggle {
                animation: wiggle-egg .5s steps(1) infinite;                
            }

            &.boil {
                animation: boil-egg .1s steps(1) infinite;    
            }

            &.cracked {
                .colored-wrapper, .crack, .hover, .tap {
                    display: none !important;
                }

                .egg {
                    background: url('../../assets/egg-cracked.png') no-repeat center center ;
                    background-size: contain;
                }
            }

            .tap {
                width: 40%;
                height: 50%;
                position: absolute;
                background-color: rgba(0,0,0,0);
                top: 25%;
                left: 30%;

                &.hammer {
                    cursor: url('../../assets/cursor-hammer.png'), pointer !important;
                    
                    &:active {
                        cursor: url('../../assets/cursor-hammer-tap.png'), pointer !important;
                    }
                }

                &.spoon {
                    cursor: url('../../assets/cursor-spoon.png'), pointer !important;
                    
                    &:active {
                        cursor: url('../../assets/cursor-spoon-tap.png'), pointer !important;
                    }
                }

                &.cottoncandy {
                    cursor: url('../../assets/cursor-candy.png'), pointer !important;
                    
                    &:active {
                        cursor: url('../../assets/cursor-candy-tap.png'), pointer !important;
                    }
                }
            }
        }
        .colored-wrapper {
            position: absolute;
            width: 100%;
            height: 0%;
            left: 0;
            bottom: 0;
            overflow: hidden;
        }
    
        .egg {
            width: min(50vw, 540px);
            height: min(50vw, 540px);
            position: relative;
            pointer-events: none;

            background: url('../../assets/egg-grey.png') no-repeat center center ;
            background-size: contain;
    
            &.colored {
                bottom: 0;
                left: 0;
                position: absolute;
                background: url('../../assets/egg-colored.png') no-repeat center center ;
                background-size: contain;
            }

            &.hover {
                position: absolute;
                top: 0;
                background: url('../../assets/egg-hover.png') no-repeat center center ;
                background-size: contain;
                display: none;
            }
            
            &.crack {
                position: absolute;
                display: none;
                pointer-events: none;
            }
            &.crack.c1 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c1.png') no-repeat center center ;
                background-size: contain;
            }

            &.crack.c2 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c2.png') no-repeat center center ;
                background-size: contain;
            }

            &.crack.c3 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c3.png') no-repeat center center ;
                background-size: contain;
            }

            &.crack.c4 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c4.png') no-repeat center center ;
                background-size: contain;
            }

            &.crack.c5 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c5.png') no-repeat center center ;
                background-size: contain;
            }

            &.crack.c6 {
                top: 0;
                display: block;
                position: absolute;
                background: url('../../assets/c6.png') no-repeat center center ;
                background-size: contain;
            }
        }
    
    }
    
    .floor {
        width: 150%;
        height: 25%;
        position: absolute;
        bottom: 0;
        left: -25%;
        background-color: #555;
        border-top: solid 2px black;
        border-radius: 100% 100% 0 0;
    
        .shadow {
            width: 120px;
            height: 20px;
            background: black;
            border-radius: 60px / 10px;
            position: absolute;
            top: 2%;
            left: 50%;
            transform: translateX(-60px);

            animation: idle-shadow 1s steps(1) infinite;
        }
    }
    
    @keyframes flash {
        0% { opacity:1;}
        0% { opacity:0;}
    }
    
    @keyframes idle-shadow {
        0%, 100% {transform: translateX(-60px) scaleX(1);}
        50% {transform: translateX(-60px) scaleX(.95);}
    }
    
    @keyframes idle-egg {
        0%, 100% {transform: translate(-50%,-50%);}
        50% {transform: translate(-50%,-51%);}
    }


    @keyframes wiggle-egg {
        0% {transform: translate(-50%,-50%) rotate(-10deg);}
        33% {transform: translate(-50%,-50%) rotate(7deg);}
        66% {transform: translate(-50%,-50%) rotate(-3deg);}
        100% {transform: translate(-50%,-50%) rotate(0deg);}
    }

    @keyframes boil-egg {
        0% {transform: translate(-50%,-50%) rotate(-5deg);}
        33% {transform: translate(-50%,-50%) rotate(5deg);}
        66% {transform: translate(-50%,-50%) rotate(-5deg);}
        100% {transform: translate(-50%,-50%) rotate(5deg);}
    }

}
