
.ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    font-family: 'Bangers', sans-serif;

    h1 {
        width: 100%;
        color: white;
        text-align: center;
        text-shadow: 5px 5px 0 #000;
    }

    p {
        color: white;
        text-align: center;
        // font-family: 'Bangers', cursive;
        text-shadow: 5px 5px 0 #000;
    }

    .title {
        font-size: 72px;
        padding-top: 10%;

        .halt {
            font-size: 144px;
        }
    }

    .line {
        width: 30%;
        height: 2px;
        background-color: rgba(255,255,255,.5);
        margin-left: 35%;
        margin-top: 5%;
    }

    .input {
        margin-top: 5%;
        font-size: 57px;
        width: 60%;
        margin-left: 20%;
        text-align: center;
        position: relative;

        h1 {
            margin-bottom: 2%;
            width: 100%;
            font-size: 57px;
        }
    }

    .names {
        text-align: center;

        p {
            display: inline-block;
            padding: 10px;
            font-size: 43px;
            opacity: .3;
            cursor: pointer;

            &:hover {
                opacity: 1 !important;
            }
        }

    }

    .page2 {
        .halt {
            font-size: 79px !important;
        }
        h1 {
            font-size: 57px !important;
        }

        .input {
            width: 60%;
            margin-left: 20%;

            h1 {
                font-size: 43px !important;
            }
        }
    }

    .weapons {
        margin-top: 10%;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;

        .weapon {
            width: 28%;
            // padding-bottom: 28%;
            // height: 0;
            border: solid 5px rgba(255,255,255,.5);
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                border-color: rgba(255,255,255,1);
            }

            &.hammer {
                background: url('../../assets/hammer.png') center no-repeat;
                background-size: 100%;
            }

            &.spoon {
                background: url('../../assets/spoon.png') center no-repeat;
                background-size: 100%;
            }

            &.cottoncandy {
                background: url('../../assets/candy.png') center no-repeat;
                background-size: 100%;
            }

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
    }

    .page3 {
        .pt1 {
            position: absolute;
            font-size: 5em;
            top: 43%;
        }

        .pt2 {
            position: absolute;
            font-size: 19em;
            top: 6%;

            text-shadow: 10px 10px 0 #000;
        }

        .pt3 {
            position: absolute;
            font-size: 7em;
            top: 43%;

            text-shadow: 10px 10px 0 #000;
        }

        .pt4 {
            position: absolute;
            font-size: 19em;
            top: 57%;

            text-shadow: 10px 10px 0 #000;
        }
    }
}