
.ui {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2a2a;

    h1 {
        width: 100vw;
        color: white;
        text-align: center;
        font-family: 'Bangers', cursive;
        text-shadow: 5px 5px 0 #000;
    }

    p {
        color: white;
        text-align: center;
        font-family: 'Bangers', cursive;
        text-shadow: 5px 5px 0 #000;
    }

    .title {
        font-size: 10vh;
        padding-top: 16vh;

        .halt {
            font-size: 20vh;
        }
    }

    .line {
        width: 30vw;
        height: 2px;
        background-color: rgba(255,255,255,.5);
        margin-left: 35vw;
        margin-top: 5vh;
    }

    .input {
        margin-top: 5vh;
        font-size: 4vh;
        width: 60vw;
        margin-left: 20vw;
        text-align: center;
        position: relative;

        h1 {
            margin-bottom: 2vh;
            width: 100%;
            font-size: 8vh;
        }
    }

    .names {
        text-align: center;

        p {
            display: inline-block;
            padding: 10px;
            font-size: 6vh;
            opacity: .3;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

    }

    .page2 {
        .halt {
            font-size: 11vh !important;
        }
        h1 {
            font-size: 8vh !important;
        }

        .input {
            width: 60vw;
            margin-left: 20vw;

            h1 {
                font-size: 6vh !important;
            }
        }
    }

    .weapons {
        margin-top: 10vh;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        height: 30vh;

        .weapon {
            width: 28%;
            // padding-bottom: 28%;
            // height: 0;
            border: solid 5px rgba(255,255,255,.5);
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                border-color: rgba(255,255,255,1);
            }

            &.hammer {
                background: url('../../static/hammer.png') center no-repeat;
                background-size: 100%;
            }

            &.spoon {
                background: url('../../static/spoon.png') center no-repeat;
                background-size: 100%;
            }

            &.cottoncandy {
                background: url('../../static/candy.png') center no-repeat;
                background-size: 100%;
            }

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
    }
}